@use "../overrides" as *;
@use "../components/mixins" as *;

.footer {
    padding-top: 1rem;
    background-color: $footer;
    min-height: 400px;
}

.contact-box {
    position: relative;

    &__icon {
        width: 2rem;
        stroke: $primary;
        padding-top: 0.1rem;

        @include media-breakpoint-up(sm) {
            width: 3rem;
        }
    }

    &__info {
        padding: 0.4rem;
        font-weight: 600;

        &--title {
            color: $white;
            text-decoration: none;
            font-size: 1rem;

            @include media-breakpoint-up(sm) {
                font-size: 1.4rem;
            }
        }

        &--subtitle {
            font-size: 0.8rem;
            color: $gray-600;
            text-decoration: none;

            @include media-breakpoint-up(sm) {
                font-size: 1rem;
            }
        }
    }
}

.footer-sm {
    a {
        color: $white;

        i {
            font-size: 1rem;
            margin-left: 1rem;

            @include media-breakpoint-up(sm) {
                font-size: 1.6rem;
            }
        }

        &:hover {
            color: $primary;
        }
    }
}

.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;

    i {
        color: $white;
        font-size: 1rem;
        @include absoluteCenter;
    }
}

div.mediapad {
    @media only screen and (min-width: 992px) {
        padding-left: 5rem;
    }
}

.contact {
    position: relative;
}

.contact .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contact .rectangle {
    margin-top: -5rem;
    background-color: #4D8CF2;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contact .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contact .description {
    color: white;
    font-size: 1.2rem;
}

.contact button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contact button:hover {
    background-color: white;
    color: black;
}

.contact button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contact button:hover i {
    color: black;
}

.section-footer {
    color: white;
    background-color: #1b1b32;
}

.social-icons a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.social-icons i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.social-icons a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.social-icons a:hover i {
    color: black;
}

.author-text {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

.footer-text {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: "Quicksand", sans-serif;
}

.chat-title {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}
