@use '../overrides'as *;
@use '../components/mixins'as *;

.menu {
    @include gradient;

    ul {
        @media (max-width: 575.98px) {
            text-align: center;
        }
    }

    li {
        padding: 0 1rem;

        a {
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;

            @media (max-width: 575.98px) {
                border-bottom: 0.5px solid $white !important;
            }

        }
    }
}

.title {
    color: $white !important;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem !important;
}