@use "../overrides" as *;
@use "../components/mixins" as *;

.menu {
    @include gradient;

    ul {
        @media (max-width: 575.98px) {
            text-align: center;
        }
    }

    li {
        padding: 0 1rem;

        a {
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
            transition: transform 0.2s;

            @media (max-width: 575.98px) {
                border-bottom: 0.5px solid $white !important;
            }

            &.active {
                color: $primary !important;
            }

            &:hover {
                transform: scale(1.2);
            }
        }

        &:first-child > a {
            @media (max-width: 575.98px) {
                border-top: 0.5px solid $white !important;
            }
        }
    }
}

a.active {
    z-index: 1;
    background-color: $white;
    transition: transform 0.25s ease-in-out;
    border-radius: 0.3em;
    color: $primary !important;
    will-change: transform;
    backface-visibility: hidden;
    transform: scale(1.2);
}

.title {
    color: $white !important;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem !important;

    &.active {
        color: $primary !important;
        padding: 0.4rem;
        transform: scale(1) !important;
    }
}
